In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.5

In [ ]:
import numpy as np

In [ ]:
# !wget + 링크 =  링크만으로 파일 다운로드
!wget https://raw.githubusercontent.com/adeshpande3/Pandas-Tutorial/master/RegularSeasonCompactResults.csv

--2021-11-23 05:23:37--  https://raw.githubusercontent.com/adeshpande3/Pandas-Tutorial/master/RegularSeasonCompactResults.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4115852 (3.9M) [text/plain]
Saving to: ‘RegularSeasonCompactResults.csv’

RegularSeasonCompac 100%[===================>]   3.92M  --.-KB/s    in 0.03s

2021-11-23 05:23:37 (123 MB/s) - ‘RegularSeasonCompactResults.csv’ saved [4115852/4115852]

In [ ]:
# 리눅스에서 head()열기 -디폴트 10줄
!head RegularSeasonCompactResults.csv

Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot
1985,20,1228,81,1328,64,N,0
1985,25,1106,77,1354,70,H,0
1985,25,1112,63,1223,56,H,0
1985,25,1165,70,1432,54,H,0
1985,25,1192,86,1447,74,H,0
1985,25,1218,79,1337,78,H,0
1985,25,1228,64,1226,44,N,0
1985,25,1242,58,1268,56,N,0
1985,25,1260,98,1133,80,H,0

In [ ]:
df = pd.read_csv('RegularSeasonCompactResults.csv')

In [ ]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

- 전체 데이터 보기
- df와 print(df)의 차이점
- print()로 출력하면 결과 여러개 출력가능

In [ ]:
# 전체 데이터 보기
# df와 print(df)의 차이점
# print()로 출력하면 결과 여러개 출력가능
df
print(df)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [ ]:
# tail() 밑에서 다섯줄
print(df.tail())

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [ ]:
# info()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145289 entries, 0 to 145288
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Season  145289 non-null  int64
 1   Daynum  145289 non-null  int64
 2   Wteam   145289 non-null  int64
 3   Wscore  145289 non-null  int64
 4   Lteam   145289 non-null  int64
 5   Lscore  145289 non-null  int64
 6   Wloc    145289 non-null  object
 7   Numot   145289 non-null  int64
dtypes: int64(7), object(1)
memory usage: 8.9+ MB
None

In [ ]:
print(df.describe())

              Season         Daynum  ...         Lscore          Numot
count  145289.000000  145289.000000  ...  145289.000000  145289.000000
mean     2001.574834      75.223816  ...      64.497009       0.044387
std         9.233342      33.287418  ...      11.380625       0.247819
min      1985.000000       0.000000  ...      20.000000       0.000000
25%      1994.000000      47.000000  ...      57.000000       0.000000
50%      2002.000000      78.000000  ...      64.000000       0.000000
75%      2010.000000     103.000000  ...      72.000000       0.000000
max      2016.000000     132.000000  ...     150.000000       6.000000

[8 rows x 7 columns]

In [ ]:
print(df.max())
print('='*20)
print(df.min())

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object
====================
Season    1985
Daynum       0
Wteam     1101
Wscore      34
Lteam     1101
Lscore      20
Wloc         A
Numot        0
dtype: object

In [ ]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [ ]:
# df의 지정하는 열(시리즈)에 접근 => numpy의 array처럼 다룰 수 있음
df.Wteam

0         1228
1         1106
2         1112
3         1165
4         1192
          ...
145284    1114
145285    1163
145286    1246
145287    1277
145288    1386
Name: Wteam, Length: 145289, dtype: int64

In [ ]:
df.Wscore

0         81
1         77
2         63
3         70
4         86
          ..
145284    70
145285    72
145286    82
145287    66
145288    87
Name: Wscore, Length: 145289, dtype: int64

In [ ]:
df.Wteam[0:5]

0    1228
1    1106
2    1112
3    1165
4    1192
Name: Wteam, dtype: int64

In [ ]:
df['Wteam']

0         1228
1         1106
2         1112
3         1165
4         1192
          ...
145284    1114
145285    1163
145286    1246
145287    1277
145288    1386
Name: Wteam, Length: 145289, dtype: int64

In [ ]:
# max값 구하기
print(df.Wteam)
print(df.Wteam.max())
print(df.Wteam[0])
print(df.Wteam[0:5])
print(df.Wteam[0:5].max())

0         1228
1         1106
2         1112
3         1165
4         1192
          ...
145284    1114
145285    1163
145286    1246
145287    1277
145288    1386
Name: Wteam, Length: 145289, dtype: int64
1464
1228
0    1228
1    1106
2    1112
3    1165
4    1192
Name: Wteam, dtype: int64
1228

In [ ]:
# 딕셔너리의 값이 리스트인 데이터프레임 생성
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)

mask = pd.Series([True, False, True, False])
print(df[mask])

# 데이터 프레임 값바꾸기 (대표방법)
df.loc[mask, "BBB"]  = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
2    6   30  -30
   AAA  BBB  CCC
0    4   -1  100
1    5   20   50
2    6   -1  -30
3    7   40  -50

# 데이터 프레임 값바꾸기 (대표방법)
- df.loc[조건, "바꿀열"]  = -1
- print(df)

In [ ]:
# numpy 예시
a = np.arange(6)
mask = np.array([0,0,0,1,1,1])
print(a*mask)

[0 0 0 3 4 5]

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)

mask = np.array([0,2])
print(df.loc[mask])

df.loc[mask,"BBB"] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
2    6   30  -30
   AAA  BBB  CCC
0    4   -1  100
1    5   20   50
2    6   -1  -30
3    7   40  -50

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)

print(df.AAA)
print(df.AAA>5)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
0    4
1    5
2    6
3    7
Name: AAA, dtype: int64
0    False
1    False
2     True
3     True
Name: AAA, dtype: bool
0    100
2    -30
Name: CCC, dtype: int64

In [ ]:
# AAA가 짝수인 CCC값을 0으로 반환해보기
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

df.loc[df.AAA%2==0, 'CCC'] = 0
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
===============
   AAA  BBB  CCC
0    4   10    0
1    5   20   50
2    6   30    0
3    7   40  -50

In [ ]:
# AAA값이 짝수일때 CCC값을 두배로 반환하기
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

df.loc[df.AAA%2==0, 'CCC'] = df.CCC*2
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
===============
   AAA  BBB  CCC
0    4   10  200
1    5   20   50
2    6   30  -60
3    7   40  -50

In [ ]:
# AAA >= 5 그리고 BBB < 40인 경우 BBB의 값을 -1로 반환해보기
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

df.loc[(df.AAA >=5) & (df.BBB < 40), 'BBB'] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
===============
   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   40  -50

In [ ]:
# pandas와 numpy의 차이점
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

# pandas는 df[df.AAA>5]의 경우, 자기자신을 복제함
'''
df[df.AAA>5].AAA = -1
print(df)
'''
t = df[df.AAA>5]
print(t)
t.AAA = -1
print(t)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
===============
   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
2   -1   30  -30
3   -1   40  -50

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
# numpy는 a[a>3]의 경우, 자기자신이 바뀜
a = np.arange(6)
a[a>3] = -1
print(a)

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

df.loc[df.AAA%2==0, ['BBB','CCC']] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
===============
   AAA  BBB  CCC
0    4   -1   -1
1    5   20   50
2    6   -1   -1
3    7   40  -50

In [ ]:
# isin = 조건안에 있는값 반환
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

df[df.AAA.isin([4,5,6])]
# df.AAA.isin([4,5,6])

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
===============

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30

In [ ]:
# AAA가 4 또는 7일 경우. BBB값을 0으로 반환해보기
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

df.loc[df.AAA.isin([4,7]),'BBB'] = 0
print(df)

# 같은 결과
df.loc[(df.AAA == 4) | (df.AAA == 7),'BBB'] = 0
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
===============
   AAA  BBB  CCC
0    4    0  100
1    5   20   50
2    6   30  -30
3    7    0  -50
   AAA  BBB  CCC
0    4    0  100
1    5   20   50
2    6   30  -30
3    7    0  -50

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
# 인덱스 값 프린트
print(df.index.values)

# 짝수 인덱스 추출
df[df.index%2==0]

[0 1 2 3]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

- 열 추가

In [ ]:
# 열 복제
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})

df['abc_CCC'] = df['CCC']
df['a_CCC'] = df['CCC']*2
df['b_CCC'] = df['CCC'].abs()
print(df)

   AAA  BBB  CCC  abc_CCC
0    4   10  100      100
1    5   20   50       50
2    6   30  -30      -30
3    7   40  -50      -50
   AAA  BBB  CCC  abc_CCC  a_CCC
0    4   10  100      100    200
1    5   20   50       50    100
2    6   30  -30      -30    -60
3    7   40  -50      -50   -100
   AAA  BBB  CCC  abc_CCC  a_CCC  b_CCC
0    4   10  100      100    200    100
1    5   20   50       50    100     50
2    6   30  -30      -30    -60     30
3    7   40  -50      -50   -100     50

In [ ]:
# AAA와 BBB의 합으로 이루어진 새로운 SSS열 추가하기
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})

df['SSS'] = df['AAA']+df['BBB']
print(df)

# 같은결과
df['SSS1'] = df.AAA+df.BBB
print(df)

# ERROR
df.SS = df['AAA']+df['BBB']
print(df)

   AAA  BBB  CCC  SSS
0    4   10  100   14
1    5   20   50   25
2    6   30  -30   36
3    7   40  -50   47
   AAA  BBB  CCC  SSS  SSS1
0    4   10  100   14    14
1    5   20   50   25    25
2    6   30  -30   36    36
3    7   40  -50   47    47
   AAA  BBB  CCC  SSS  SSS1
0    4   10  100   14    14
1    5   20   50   25    25
2    6   30  -30   36    36
3    7   40  -50   47    47

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  from ipykernel import kernelapp as app

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":['남','여','남','여'],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

def encode(BBB):
  if BBB=='남': return 1
  if BBB=='여':return 0
  return -1

print(encode('남'))
print(encode('여'))
print(encode(''))
print(encode('else'))

# 새로운 열 추가할때 함수 사용하기
df['BBB_encoded'] = df[['BBB']].applymap(encode)
print(df)

   AAA BBB  CCC
0    4   남  100
1    5   여   50
2    6   남  -30
3    7   여  -50
===============
1
0
-1
-1
   AAA BBB  CCC  BBB_encoded
0    4   남  100            1
1    5   여   50            0
2    6   남  -30            1
3    7   여  -50            0

- 열 삭제
- inplace = False 가 디폴트, 데이터 프레임을 복제해 반환

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":['남','여','남','여'],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

# 열삭제한 데이터프레임을 새로 만듦 (카피본 만듦)
new_df = df.drop(columns='BBB')
print(new_df)

# 원래 있던 데이터프레임에서의 열삭제
df.drop(columns='BBB', inplace=True)
print(df)

   AAA BBB  CCC
0    4   남  100
1    5   여   50
2    6   남  -30
3    7   여  -50
===============
   AAA  CCC
0    4  100
1    5   50
2    6  -30
3    7  -50
   AAA  CCC
0    4  100
1    5   50
2    6  -30
3    7  -50

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":['남','여','남','여'],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

# 인덱스행 지정 삭제
df.drop(1, inplace=True)
print(df)

   AAA BBB  CCC
0    4   남  100
1    5   여   50
2    6   남  -30
3    7   여  -50
===============
   AAA BBB  CCC
0    4   남  100
2    6   남  -30
3    7   여  -50

In [ ]:
# AAA가 짝수인 인덱스 행만 추출하기
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":['남','여','남','여'],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

# AAA가 짝수인 TF 시리즈
print(df.AAA%2 == 0)

df.drop(df[df.AAA%2==0].index, inplace=True)
print(df)

   AAA BBB  CCC
0    4   남  100
1    5   여   50
2    6   남  -30
3    7   여  -50
===============
0     True
1    False
2     True
3    False
Name: AAA, dtype: bool
   AAA BBB  CCC
1    5   여   50
3    7   여  -50

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]})
print(df)
print('='*15)

df['float_AAA'] = df.AAA.astype(np.float)
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
===============
   AAA  BBB  CCC  float_AAA
0    4   10  100        4.0
1    5   20   50        5.0
2    6   30  -30        6.0
3    7   40  -50        7.0