In [1]:
# 쥬피터에디터만 마크다운으로 디자인 할수있음

# 변수함수

In [2]:
sum([1,2,3]) # 임시

6

In [3]:
hap=sum([1,2,3]) # 지속 변수이름으로 계속 부를수있음

In [4]:
hap

6

In [6]:
type(type(hap))

type

In [7]:
a = 100
b=sum([1,2])
print(a,b)

100 3

In [10]:
def myfun():
    return 200 #대입문 함수, 200

In [12]:
c=myfun()

In [13]:
myfun()= 300 # 괄호 있는 함수문은 괄호안에 값을 넣어줘야함

SyntaxError: cannot assign to function call (<ipython-input-13-cef6f0dca4b6>, line 1)

# 2.5 변수

In [15]:
import keyword # 지시문

In [16]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [17]:
len(keyword.kwlist)

35

In [18]:
a=7
print(a)

7

In [22]:
b = 8
a,b

(7, 8)

In [23]:
type(7), type(7) == int, isinstance(7,int)

(int, True, True)

In [24]:
type(a), type(99.9), type("abc")

(int, float, str)

## 복사

In [26]:
x = 5
y = x
x = 29
x, y

(29, 5)

a = () {} [] # 무한대로 할당할수있음

In [28]:
a = [2,4,6]
b = a
a, b

([2, 4, 6], [2, 4, 6])

In [29]:
a[0] = 99 # '='은 대입문이므로 값을 지정
a, b

([99, 4, 6], [99, 4, 6])

In [31]:
id(a), id(b)

(1761497684160, 1761497684160)

In [32]:
id(x), id(y)

(140730160196272, 140730160195504)

In [33]:
id(x), id(y)

(140730160196272, 140730160195504)

In [34]:
b = a[:]

In [35]:
id(a), id(b)

(1761497684160, 1761498084480)

In [36]:
a[0] = 100
a, b

([100, 4, 6], [99, 4, 6])

# 2.11 좋은이름 naming convention

number_of_loons = 0
gaviidae_inventory = 0
numm_loons = 0 # snaks
numberdfFields = 0 #camel
MyClass  # pascal # _를 사용하거나 대소문자 구분으로 이름생성

# 3.  숫자 p.75

In [38]:
True, False, 42, 4, 145 # 사용자가 변수지정없이 사용한 값 -> 리터럴

(True, False, 42, 4, 145)

In [39]:
100

100

In [40]:
int(), float(), bool()

(0, 0.0, False)

In [42]:
x = 100.5
int(x), bool(x), float(x), bool(-45), bool(0), bool(0.0) # 0을 제외한 모든 숫자는 true 뜸

(100, True, 100.5, True, False, False)

In [ ]:
5, 0, -100, +123, 05 # 숫자 0을 써서 시작하는거 안됨

In [44]:
1,000,000 # ,를 튜플로 인식

(1, 0, 0)

In [45]:
1,000,000, 1_000_000 # 숫자 표현해주고 싶으면 언더바 넣어줌

(1, 0, 0, 1000000)

In [46]:
5+8, 90-10, 4*7, 7/2, 7//2, 7%3, 3**4

(13, 80, 28, 3.5, 3, 1, 81)

In [47]:
5+8+3*2 # 연산자 우선순위 있음

19

In [48]:
# 5/0 ??

In [49]:
a = 95
a = a -3  # 자기자신 연산 가능
a

92

In [50]:
a==3, a *=3 , a/=3, a +=3

SyntaxError: invalid syntax (<ipython-input-50-0036fc6dba23>, line 1)

In [52]:
divmod(9,4)

(2, 1)

# 문자함수 p.86

In [55]:
ord('A'), chr(65), chr(ord('B')+2) # chr() 컹퓨터에 저장되어있던 숫자를 문자로 변환해줌

(65, 'A', 'D')

In [59]:
ord('가'), chr(44032+10) # ord() 컴퓨터에 저장되어있던 숫자로 나옴

(44032, '갊')

In [64]:
5e1 # 5*(10**1)
5e-1 # 5*(10*-1)
5e-4 # 5*(10*-4)
float(5.0e-4)

0.0005

# 4.3 조건문  if elif else

In [65]:
# 파이썬은 문장 들여쓰기를 해아함

In [76]:
if True : 
    # TF나오는 조건문 작성
    print("Wow!")
    
# 끝내고 싶으면 들여쓰기 나가줌 
else :
    print("Woo!")
print("If문 탈출!")

Wow!
If문 탈출!

==, !=, <, <=, >, >=, and, or, not

In [70]:
x=7
x==5, x==7, x<5, x>10

(False, True, False, False)

In [71]:
5<x and x<10, (5<x) and (x<10), (5<x) or not (x<10)

(True, True, True)

In [72]:
bool(None), bool(0), bool(''), bool([]), bool({}), bool(())

(False, False, False, False, False, False)

In [75]:
bool([0]), bool({0}), bool((0,0))

(True, True, True)

## membership operator in

In [78]:
'a' in 'aeiou', 1+1, "I'm "+"happy" # 괄호 안친 함수를 연산자(operator)라고 부름

(True, 2, "I'm happy")

In [79]:
if 'a' in 'aeiou':
    print('a', 'is a vowel')
else :
    print ("포함 안되어 있음")

a is a vowel

In [80]:
# [] {} () 함수로 넣어줄수있음
list('aeiou'), set('aeiou'), tuple('aeiou')

(['a', 'e', 'i', 'o', 'u'],
 {'a', 'e', 'i', 'o', 'u'},
 ('a', 'e', 'i', 'o', 'u'))

In [81]:
'a' in ['a', 'e', 'i', 'o', 'u'] #list

True

In [82]:
'a' in {'a', 'e', 'i', 'o', 'u'} #set

True

In [83]:
'a' in ('a', 'e', 'i', 'o', 'u') #tuple

True

## 5. 문자열

In [85]:
"snap", 'snap' # 쌍따옴표 홀따옴표 구분없음

('snap', 'snap')

In [86]:
'"hi, bye"' # 문자데이터로 안에 넣어주고 싶을때 쓰기위해 두개를 섞어씀\

'"hi, bye"'

In [89]:
sing = """
긴문장도 그대로 저장이 됨
문자로 저장은 되지만 변수로 저장은 안되므로 임시데이터 (리터럴)
주석문으로 쓰는 경우도 있음
하지만 주석문은 아님 문자로 저장되기 때문
"""

In [90]:
print(sing)

긴문장도 그대로 저장이 됨
문자로 저장은 되지만 변수로 저장은 안되므로 임시데이터 (리터럴)
주석문으로 쓰는 경우도 있음
하지만 주석문은 아님 문자로 저장되기 때문

In [92]:
str(98.6), str(1.0e-4), str(False)

('98.6', '0.0001', 'False')

In [93]:
\n, \t, \' # 줄바꿈

SyntaxError: unexpected character after line continuation character (<ipython-input-93-21e7b76ca6d7>, line 1)

In [96]:
info=r'Type \n to get a new '
info

'Type \\n to get a new '

In [97]:
print(info)

Type \n to get a new

In [98]:
"그립다 "+ "말을 할까"
"그립다 ""말을 할까"

'그립다 말을 할까'

In [99]:
"="*100

'===================================================================================================='

In [100]:
"="*20, 20*"-"

('====================', '--------------------')

In [101]:
letters = 'abcdefghijklmnopqrstuvwxyz'

In [108]:
letters[0], letters[-1], letters[-2] #뒤부터 읽음

('a', 'z', 'y')

In [110]:
letters[3:-1]
# 처음부터 마지막까지 (-1은 무조건 마지막을 나타냄)

'defghijklmnopqrstuvwxy'

In [113]:
letters[0::2] # 처음부터 두칸씩 떼고(step) 데이터 긁어옴

'acegikmoqsuwy'

In [116]:
letters[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [117]:
letters[4:20:3]

'ehknqt'

In [118]:
'happy day' # 리터럴도 변수임 (탭누르면 뜸)

'happy day'

In [119]:
len(letters) # 데이터 길이

26

In [129]:
task = 'get gloves, get mask, give cat vitammins, call ambulance'

In [130]:
task.split()

['get',
 'gloves,',
 'get',
 'mask,',
 'give',
 'cat',
 'vitammins,',
 'call',
 'ambulance']

In [131]:
result = task.split(',') # 함수데이터이므로 저장안하면 날아감

In [132]:
result

['get gloves', ' get mask', ' give cat vitammins', ' call ambulance']

In [143]:
# [::-1] 마지막부터 거꾸로

In [144]:
result[0][4:][::-1][::-1]

'gloves'

In [169]:
fruit = ['apple', 'banana', 'mango', 'dragon fruit']

In [146]:
':'.join(fruit) # split 과 반대 :로 리스트를 붙임

'apple:banana:mango:dragon fruit'

In [170]:
' '.join(fruit)

'apple banana mango dragon fruit'

In [162]:
fruit_s='apple banana mango dragon fruit'
fruit_s.replace('banana', 'potato')

'apple potato mango dragon fruit'

In [155]:
world = "  earth "

In [156]:
world.strip(), world.lstrip(), world.rstrip()

('earth', 'earth ', '  earth')

In [163]:
fruit_s[:12]

'apple banana'

In [166]:
fruit_s.startswith("a"), fruit_s.endswith("drago") # 처음이나 끝의 글자가 맞는지 알려줌

(True, False)

In [167]:
fruit_s.find("banana") # 위치를 알려줌 인덱스값

6

In [168]:
fruit_s.find("pine") # -1값은 없다는 뜻

-1