변수, 함수
둘다 메모리임

(100, 200, '  ') 이게 리터럴

In [1]:
100, 200, 'keyboard'

(100, 200, 'keyboard')

In [2]:
'keyboard'.capitalize()

'Keyboard'

In [3]:
'ab'.capitalize().swapcase()

'aB'

In [4]:
len('abc')

3

In [11]:
def myfunc():
    return 200;

In [12]:
myfunc()

200

if elif else end
while
for in else

In [3]:
mystr = 'daerim dong 1234 hello' # 숫자 개수세기
mystr2 = '. K 안녕하세요, hello 010-1234-1234' #한글, 영어, 숫자, 특수문자 개수세기

In [81]:
elem = []
for ele in mystr:
    if (ord(ele) >= ord('0') and ord(ele) <= ord('9')):
        elem += [ele]
elem

['1', '2', '3', '4']

In [48]:
numUp = 0
for ele in mystr:
    if (ord(ele) >= ord('0') and ord(ele) <= ord('9')):
        numUp +=1  # 개수기 때문에 숫자를 더해줌
numUp

4

In [49]:
mystr = 'daerim dong 1234 hello'
newStr = ''
for ele in mystr2:
    if ele.isdigit() == False:
        newStr += ele
newStr

'. K 안녕하세요, hello --'

In [40]:
newStr += 'd'
newStr

'd'

In [45]:
hanCnt, upperCnt, lowerCnt, numCnt, etcCnt, = [0]*5
for ele in mystr2:
    if (ord(ele) >= ord('A') and ord(ele) <= ord('Z')):
        upperCnt += 1
    elif (ord(ele) >= ord('a') and ord(ele) <= ord('z')):
        lowerCnt += 1
    elif (ord(ele) >= ord('0') and ord(ele) <= ord('9')):
        numCnt += 1
    elif (ord(ele) >= ord('가') and ord(ele) <= ord('핳')):
        hanCnt += 1
    else:
        etcCnt += 1
hanCnt, upperCnt, lowerCnt, numCnt, etcCnt

(5, 1, 5, 11, 8)

list, tuple, dict, set, str collection

In [21]:
a = 'abcde'
b = [1,2,10,20]
c = (1,2,10,20)
# d = {2,3,10, 10.2}  -> 데이터 형식이 안되는 형식임
d = {2:10, 3.6:6, 4:10, 5:10.2}
s = {2,3,10,20, 'address'}

In [15]:
a[0], [0], c[0], d[2] # 나머지는 첫째행이 나오지만 d[0]는 키값이 2인 벨류값이 나옴

('a', [0], 1, 10)

In [17]:
b[0] = 'b' # c는 튜플이라 수정불가, 수치형 인덱싱 수정은 b밖에 안됨

In [18]:
d[2] = 'b' # 키값은 바뀌지 않음

In [23]:
d[3.6] = 'b' #행값이 아닌, 키값으로 할당할수 있음

In [24]:
a,b,c,d

('abcde', [1, 2, 10, 20], (1, 2, 10, 20), {2: 10, 3.6: 'b', 4: 10, 5: 10.2})

# 8.2 셋

In [27]:
empty_set = set() # set
# empty_set2 = {} # dict
empty_dict = {}

In [28]:
type(empty_set), type(empty_set2)

(set, dict)

In [29]:
even_numbers = {0,2,4,6,8}

In [30]:
even_numbers

{0, 2, 4, 6, 8}

In [33]:
odd_numbers = set(range(1,100,2))

In [35]:
print(odd_numbers)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

In [36]:
set('letters'), list('letters') # 차이점 중복제거 따라서 set은 종류의 개수를 나타냄

({'e', 'l', 'r', 's', 't'}, ['l', 'e', 't', 't', 'e', 'r', 's'])

In [38]:
list({'apple':'red', 'orange':'orange', 'cherry':'red'}) # list 붙으면 키값만 나옴

['apple', 'orange', 'cherry']

In [39]:
s.add('four')

In [40]:
s

{10, 2, 20, 3, 'address', 'four'}

In [41]:
s.remove(2) # 셋은 행값으로 읽을수 없어서 리스트로 바꿔야 행값으로 읽을수 있음

In [42]:
s

{10, 20, 3, 'address', 'four'}

In [43]:
furniture = set(('sofa','ottoman', 'table'))

In [44]:
furniture

{'ottoman', 'sofa', 'table'}

In [46]:
for piece in furniture:
    print(piece)

sofa
table
ottoman

In [47]:
'table' in furniture # 데이터가 들어있는지 확인하는 함수 -> ' ' in function

True

In [48]:
drinks = {'martini': {'vodka', 'vermouth'},
'black russian': {'vodka', 'kahlua'},
'white russian': {'cream', 'kahlua', 'vodka'},
'manhattan': {'rye', 'vermouth', 'bitters'},
'screwdriver': {'orange juice', 'vodka'}
}

In [50]:
a,b,c = ['name'] *3

In [51]:
a, b, c

('name', 'name', 'name')

In [52]:
drinks.items()

dict_items([('martini', {'vermouth', 'vodka'}), ('black russian', {'kahlua', 'vodka'}), ('white russian', {'kahlua', 'cream', 'vodka'}), ('manhattan', {'vermouth', 'rye', 'bitters'}), ('screwdriver', {'orange juice', 'vodka'})])

In [126]:
list(drinks.items())

[('martini', {'vermouth', 'vodka'}),
 ('black russian', {'kahlua', 'vodka'}),
 ('white russian', {'cream', 'kahlua', 'vodka'}),
 ('manhattan', {'bitters', 'rye', 'vermouth'}),
 ('screwdriver', {'orange juice', 'vodka'})]

In [127]:
list(drinks.items())[0]

('martini', {'vermouth', 'vodka'})

In [128]:
list(drinks.items())[1]

('black russian', {'kahlua', 'vodka'})

In [129]:
a, b = list(drinks.items())[0]

In [130]:
a

'martini'

In [133]:
b

{'vermouth', 'vodka'}

In [134]:
a, b in list(drinks.items())

('martini', False)

In [135]:
a, b = list(drinks.items())[0]

In [136]:
'vodka' in {'vermouth', 'rye', 'bitters'}

False

In [75]:
vodkas = []
for name, contents in drinks.items():
    if 'vodka' in contents:
       # vodkas += [name] 
       # vodkas.append(name)

In [73]:
vodkas

['martini', 'black russian', 'white russian', 'screwdriver']

In [74]:
['a','b','c'] +['e','f','g']

['a', 'b', 'c', 'e', 'f', 'g']

In [83]:
mylist = []
mylist += 'martini' # 성분이 떨어져서 저장됨
mylist += ['martini'] # 성분이 붇어서 저장됨

In [84]:
mylist

['m', 'a', 'r', 't', 'i', 'n', 'i']

In [85]:
import pandas as pd # as 뒤에 별명붙여줌

In [86]:
df = pd.DataFrame(vodkas) # 저장

In [87]:
df.to_csv('vodkas.csv') # 저장이름 설정

& 교집합, | 합집합, - 차집합

In [91]:
a = {1,2}
b = {2,3,4,5}

In [95]:
a & b, a | b, a - b, b - a

({2}, {1, 2, 3, 4, 5}, {1}, {3, 4, 5})

In [97]:
a.intersection(b), a.union(b), a.difference(b), b.difference(a)

({2}, {1, 2, 3, 4, 5}, {1}, {3, 4, 5})

In [98]:
a^b, a.symmetric_difference(b)

({1, 3, 4, 5}, {1, 3, 4, 5})

In [100]:
a<= b, a.issubset(b) # 부분집합안에 포함되는지

(False, False)

In [101]:
drinks['black russian'], drinks['white russian']

({'kahlua', 'vodka'}, {'cream', 'kahlua', 'vodka'})

In [102]:
drinks['black russian'] <= drinks['white russian'] # 포함되는지 방향

True

In [103]:
drinks['black russian'].issubset(drinks['white russian'])

True

 # 9장. 함수

sum() len() ord() chr() id() list() set() dict() min() max() pow()

In [104]:
# 함수 만들어보기
def function_name(): 
    return

In [105]:
def do_nothing():
    pass

In [106]:
do_nothing()

In [108]:
def make_a_sound():
    print("quack")

In [109]:
def agree():
    return True

In [110]:
make_a_sound(), agree()

quack

(None, True)

In [111]:
type(make_a_sound()), type(agree())

quack

(NoneType, bool)

In [112]:
def echo(anything):
    return anything + ' ' + anything

In [113]:
echo(123) # TypeError: unsupported operand type(s) for +: 'int' and 'str'
# 공백은 str이고 123은 int임

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [114]:
echo('yahoo'), echo(echo('yahoo'))

('yahoo yahoo', 'yahoo yahoo yahoo yahoo')

None =/ False,
둘다 아무것도 없는걸 뜻하지만 다름

None = [], (), '', 0.0, 0 등의 값을 말함
아무것도 없지만 아무것도 없는 값이 아닌 것

In [115]:
thing = None
if thing:
    print("it")

In [117]:
None == True, 0 == True, 10 == True

(False, False, False)

In [118]:
thing = None
if thing:
    print("It's some thing")
else:
    print("It's no thing")

It's no thing

In [120]:
def whatis(thing):
    if thing:
        print("It's some thing")
    else:
        print("It's no thing")

In [121]:
whatis(thing), whatis(True), whatis(100), whatis([])

It's no thing
It's some thing
It's some thing
It's no thing

(None, None, None, None)

In [143]:
def buggy(arg, result = []):   # collection data만들때 버그주의
    result.append(arg)
    print(result)

In [144]:
buggy('a')

['a']

In [145]:
buggy('b') # 이전 호출이 남아있는 리스트에 추가됨

['a', 'b']

In [146]:
def work(arg):
    result =[]
    result.append(arg)
    print(result)

In [147]:
work('a')
work('b')

['a']
['b']

In [149]:
def nobuggy(arg, result = None):
    if result is None:
        result =[]
    result.append(arg)
    print(result)

In [150]:
nobuggy('a')

['a']

In [151]:
nobuggy('b')

['b']

In [152]:
listresult = ['a','b']

In [154]:
nobuggy('d', listresult)

['a', 'b', 'a', 'd']

변수 이름 앞에 *붙이면 여러개있다는 뜻

In [155]:
def print_args(*parameters):
    print('위치 튜플: ', parameters)  # 리턴값은 튜플

In [156]:
print_args(1,2, 'adbd')

위치 튜플:  (1, 2, 'adbd')

In [157]:
def print_arg2(**parameters):    # ** 두개 쓰면 키,밸류 데이터 값으로 저장
    print('keyword arguments : ', parameters)

In [158]:
print_arg2(name='kim', phone='1234', addr='dong')

keyword arguments :  {'name': 'kim', 'phone': '1234', 'addr': 'dong'}

# 9.4 독스트링

__ : 언더바 두개 (던더)

In [160]:
def echo(anything):
    '에코는 입력값을 리턴값으로 보낸다.'   # 원래는 저장값이 없으므로 리터럴임
    return anything

In [161]:
help(echo)  # 함수정보 불러오는법

Help on function echo in module __main__:

echo(anything)
    에코는 입력값을 리턴값으로 보낸다.

In [162]:
echo.__doc__

'에코는 입력값을 리턴값으로 보낸다.'

In [163]:
sum.__doc__

"Return the sum of a 'start' value (default: 0) plus an iterable of numbers\n\nWhen the iterable is empty, return the start value.\nThis function is intended specifically for use with numeric values and may\nreject non-numeric types."

print(echo.__doc__)

In [167]:
type(echo)

function

In [168]:
pow.__doc__

'Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments\n\nSome types, such as ints, are able to use a more efficient algorithm when\ninvoked using the three argument form.'

In [ ]:
# add(x,y) = x+y

In [179]:
def enliven(word):
    return word.capitalize() + '!'  # 첫번째문자 대문자로 바꾸고 ! 붙이기

In [172]:
def edit_story(words, func):     # func은 함수임, 함수func에 함수func()를 넣는 함수(edit_story)를 만든거임
    for word in words:
        print(func(word))

In [170]:
len

In [171]:
len.__doc__  # 컨테이너안의 아이템개수 리턴

'Return the number of items in a container.'

In [ ]:
mylen = len  # 함수가 저장된 껍데기(메모리)

In [ ]:
mylen('abc')

In [177]:
stairs = ['thuds', 'meow', 'thud', 'hiss']

In [180]:
edit_story(stairs, enliven)

Thuds!
Meow!
Thud!
Hiss!

In [178]:
edit_story(stairs, len)

5
4
4
4

# 9.7 lambda : 익명함수 
잠시쓰는 임시함수 느낌

In [181]:
edit_story(stairs, lambda x:x.lower()+'!!!')  # lambda x:x.lower()+'!!!' 함수 만들어 직접 집어넣음

thuds!!!
meow!!!
thud!!!
hiss!!!

In [182]:
(lambda x:x+1)(10)

11

In [183]:
lambda x:x+1

In [184]:
_(12)  # 함수명 안적고 _만 적어도 바로전 호출한 람다를 부를 수있음

13

In [185]:
lambda x,y : 2*x+3*y

In [186]:
mysum = sum

In [187]:
mysum(range(1,101))

5050

In [191]:
map.__doc__

'map(func, *iterables) --> map object\n\nMake an iterator that computes the function using arguments from\neach of the iterables.  Stops when the shortest iterable is exhausted.'

In [192]:
print(list(range(1,101)))  # 1~100

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [193]:
print(list(map(lambda x: pow(x,2),range(1,101))))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [194]:
import seaborn as sns
import pandas as pd

In [195]:
iris = sns.load_dataset('iris')

In [196]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [197]:
iris.columns # columns 확인

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [199]:
data_iris = iris[['sepal_length', 'sepal_width']] #'sepal_length', 'sepal_width' 뜯어옴

In [201]:
data_iris.applymap(lambda x: pow(x,2)).head()

   sepal_length  sepal_width
0         26.01        12.25
1         24.01         9.00
2         22.09        10.24
3         21.16         9.61
4         25.00        12.96

In [202]:
iris.sepal_width  # 한줄만 뜯음

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [205]:
iris.sepal_width.map(lambda y: y+100). head(3)

0    103.5
1    103.0
2    103.2
Name: sepal_width, dtype: float64

In [206]:
def make_level(x):
    if x > 4.0 :
        return 'high'
    elif x > 3.0 :
        return 'mid'
    else :
        return 'low'

In [207]:
iris.sepal_width.map(make_level)

0      mid
1      low
2      mid
3      mid
4      mid
      ...
145    low
146    low
147    low
148    mid
149    low
Name: sepal_width, Length: 150, dtype: object

# 9.8 제너레이터 함수 (generator function)
시퀀스 sequence, 순서 iterator

In [ ]:
# range()

In [ ]:
print(list(range(0,10,1)))

In [210]:
def  my_range(first=0, last=10, step=1): 
    number = first
    while number < last:  # 10은 빼고, 10 전까지
        yield number # 종료하지않고 쌓음
        number += step

In [211]:
my_range()

In [212]:
list(my_range())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]